@CHARSET "ISO-8859-1";

.nav li {
	float:left;
	display:inline;
	top:16px;
	
}

.nav a{
	color:#000000;
	font-size:16px;
	
}

.custom-header{
	background-color:#FFFFFF;
	height:90px;
	border-bottom:3px solid #DFDFDF;
	
}

.custom-header .container{
	position:relative;
	top:10px;
}

.custom-header-spacer{
	height:40px;
}
.main-title{
	color:#000000;
	padding-left:30px;
	font-size:30px;
}

.navbar{
	background-color:#FFFFFF;
	height:90px;
	border-bottom:3px solid #DFDFDF;
}

.center{
	text-align: center;
}

.navbar .container {
	position:relative;
	top:10px;
}

.navbar-brand{
	padding: 0px;
}

.footer{
	height: 40px;
}